# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS files
*.db
*.DS_Store

# Jetbrains
.idea/

# Eclipse
.project

# Notes
todo.md

# Releases
*.tar.gz

# Generated binaries
dist

# Converage
coverage.txt

# PHP
url-params.2.2
url-params.2.2.zip
woocommerce-zapier
secret_notes.txt
tonicpow-boiler.zip
tonicpow.zip
woocommerce-zapier.zip
woocommerce.4.4.1.zip
wp-session-manager.4.2.0.zip